{% extends 'core/sidebar_base.html' %}
{% block title %}My Complaints{% endblock %}

{% block content %}
<h2 class="mb-4">My Complaints</h2>

<div class="row">
    {% for c in complaints %}
    <div class="col-md-4">
        <div class="card shadow-sm mb-3">
            <div class="card-body">
                <h5>{{ c.title }}</h5>
                <p class="text-muted">{{ c.category }}</p>

                <span class="badge 
                    {% if c.status == 'Pending' %} bg-warning 
                    {% elif c.status == 'In Progress' %} bg-info 
                    {% else %} bg-success {% endif %}">
                    {{ c.status }}
                </span>

                <p class="text-muted small mt-2">{{ c.created_at|date:"M d, Y" }}</p>
                <a href="/complaint/{{ c.id }}/" class="btn btn-outline-dark btn-sm">View</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}